<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Routing" enabled="true">
                    <match url=".*" />
                    <action type="Rewrite" url="index.php" />
                    <conditions>
                        <add input="{DOCUMENT_ROOT}{URL}" matchType="IsFile" negate="true" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
        <customErrors mode="Off" />
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
